h1{
    color: green;
}



body{
    background-color: cadetblue;
}

.name{
    background-color:darkgoldenrod;
    border: darkblue;
}
.vedio{
   display: flex;
   justify-content: space-evenly;
}

h2{
    color: darkblue;
}

h4{
    color:chartreuse
}

.last{
    display: flex;
    justify-content: space-evenly;
}